In [11]:
import json
import pandas as pd

In [12]:
df = pd.read_json('./info/experiment_dict.json')

In [13]:
df = df.T.set_index('Experiment')
df

                  Type     Activity
Experiment
1             Baseline    Eyes Open
2             Baseline  Eyes Closed
3                 Real   Left Right
4            Imaginary   Left Right
5                 Real     Top Down
6            Imaginary     Top Down
7                 Real   Left Right
8            Imaginary   Left Right
9                 Real     Top Down
10           Imaginary     Top Down
11                Real   Left Right
12           Imaginary   Left Right
13                Real     Top Down
14           Imaginary     Top Down

In [21]:
with open('./info/experiment_dict.json') as f:
   data = json.load(f)

['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14']

In [22]:
data.get('01')

{'Experiment': 1, 'Type': ' Baseline', 'Activity': 'Eyes Open'}